
    
*
{
    
    cursor: auto;
    
    }
/*        
 body 
{
    margin:0;
    padding:0;
    color:white;
    font-size: 12px;
    line-height: 17px;
    font-family:"Arial";
    background-color: #fff;
    background-position: center top;  
    background-color:black;
    background-repeat:no-repeat;
    
    
}*/
h2
{
   color:White;
   text-align: center 
  
    
    }
a, a:link, a:visited
{
    color: white;
    font-weight: normal;
    text-decoration: none;
    }

a:hover
{
    text-decoration:underline;
    }
#abrigo_general
{
    width: 1000px;
    right: 1000px;
    margin: 0 auto;
    } 
    
#content_Login
{
    margin-top:80px;
    overflow: hidden;
    width: 800px;
    position: relative;
    padding-bottom: 10px;
    
    } 
    
 #banner
 {
        
      background: url(Imagenes/eso1426c.jpg);
      height:40px;
      font-size:40px;
      padding:30px;
      background-repeat:no-repeat;
      color:#fff;
      
         
 }
#fondo1
{
    margin:5px;
    width:900px;
    background-color:green;    
    
    
    
    
    
    }
      
 #contenido_izquierdo
 {
      float: left;
      width: 195px;
      height:750px;
      margin-left: 15px;
      margin-top:20px;
    
      
      
     
     }  

     
  #contenido_izquierdo.etiqueta
  {
      float:left;
      width: 170px;
      height: 20px;
      text-align: left;
      margin-left:5px;
      color:White;
      
      }
            
      
  
  #contenido_derecho
  {
      float: left;
      width: 1000px;
      height: 1000px;
      margin-left: 5px;
      
      
      }    
  #abrigo_formulario
  {
      
      float:left;
      width: 572px;
      margin-left:275px;
      margin-top:10px;
      background:#6C94D0;
      color:White;  
      background:#7B94BA;
      
      }
      
      
   #abrigo_fromulariofactura
   {
      float:left;
      width: 970px;
      margin-left:25px;
      margin-top:10px;
      background:#6C94D0;
      color:White;  
      background:#7B94BA;
       
       }     

      #color_table
      {
            background:#34495E;
            color:black;
            
          }
 

  #abrigo_formulario1
  {
      
      float:left;
      width: 600px;
      margin-left:200px;
      margin-top:50px;
      background:#6C94D0;
      color:White;  
      background:#7B94BA;
     
      
      } 
      
      
   #abrigo_formulario3
  {
      
      float:left;
      width: 600px;
      margin-left:200px;
      margin-top:-900px;
      background:#6C94D0;
      color:White;  
      background:#7B94BA;
     
      
      }      
      
        
   #abrigo_usuario
  {
      
      float:left;
      width: 550px;
      margin-left: 140px;
      margin-top:10px;
     
      } 
      
    
   #abrigo_lote
   {
      float:left;
      width: 550px;
      margin-left:20px;
      margin-top:-10px;
       
       
  } 
  
  
  
      
   #abrigo_factura
   {
      
      
      margin-left:5px;
      margin-top:-10px;
       
       
  }   
       
     #abrigo_entrada
   {
      float:left;
      width: 550px;
      margin-left:80px;
      margin-top:-10px;
       
       
  }  
  
       #abrigo_tabla
   {
      float:left;
      width: 350px;
      margin-left:-100px;
      margin-top:-10px;
       
       
  } 
  
  .alinear
  {
      text-align:left;
      
      }      
      
      
#ordenar_tabla
{
     float: left;
     width:800px;
     right:800px;
     margin-left:200px;
     margin-top:20px;

    }  

#general_total
{
     background:Black;
    
    
    }     
    
h4
{
     text-align:left;
     
    
    
    } 

