# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
libreria1.1/LibreriaOnlineUmes/CapaEntidades/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
*.pdb
libreria1.1/LibreriaOnlineUmes/CapaDatos/bin/Debug/CapaDatos.pdb
*.txt
libreria1.1/LibreriaOnlineUmes/CapaDatos/obj/Debug/CapaDatos.csprojResolveAssemblyReference.cache
*.cache
libreria1.1/LibreriaOnlineUmes/CapaEntidades/bin/Debug/CapaEntidades.pdb
*.pdb
libreria1.1/LibreriaOnlineUmes/LibreriaOnlineUmes/obj/Debug/LibreriaOnlineUmes.pdb
*.txt
libreria1.1/LibreriaOnlineUmes/LibreriaOnlineUmes/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
libreria1.1/LibreriaOnlineUmes/LibreriaOnlineUmes/bin/CapaEntidades.pdb
*.cache
libreria1.1/LibreriaOnlineUmes/CapaNegocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
libreria1.1/LibreriaOnlineUmes/CapaNegocio/obj/Debug/CapaNegocio.csprojResolveAssemblyReference.cache
*.pdb
libreria1.1/LibreriaOnlineUmes/CapaNegocio/bin/Debug/CapaDatos.pdb
*.pdb
libreria1.1/LibreriaOnlineUmes/CapaNegocio/bin/Debug/CapaDatos.pdb
*.cache
libreria1.1/LibreriaOnlineUmes/CapaEntidades/obj/Debug/CapaEntidades.csproj.FileListAbsolute.txt
*.pdb
libreria1.1/LibreriaOnlineUmes/CapaDatos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
libreria1.1/LibreriaOnlineUmes/CapaDatos/bin/Debug/CapaEntidades.pdb
*.pdb
*.pdb
libreria1.1/LibreriaOnlineUmes/LibreriaOnlineUmes.suo
